In [2]:
import pandas as pd
import numpy as np

## Pandas
Permet de manipuler des données structurées.

In [10]:
data=pd.read_csv('src/data.csv')#Lire le fichier csv.
data.head()#Affiche les 5 première lignes du dataframe.

,superficie,nombre_chambres,quartier,materiel,bordure_de_route,prix
0,40,2,Alibandeng,brique,oui,130000
1,15,1,NzangAyong,brique,non,80000
2,35,1,MontagneSainte,brique,oui,150000
3,30,1,Charbonnage,brique,non,120000

In [11]:
data.describe()#Statistique des données numériques.

       superficie  nombre_chambres           prix
count    4.000000             4.00       4.000000
mean    30.000000             1.25  120000.000000
std     10.801234             0.50   29439.202888
min     15.000000             1.00   80000.000000
25%     26.250000             1.00  110000.000000
50%     32.500000             1.00  125000.000000
75%     36.250000             1.25  135000.000000
max     40.000000             2.00  150000.000000

In [12]:
data.describe(include=['object'])#Statistique des données catégorielles.

          quartier materiel bordure_de_route
count            4        4                4
unique           4        1                2
top     Alibandeng   brique              oui
freq             1        4                2